/shelf/
/workspace.xml
.idea
.github/workflows/localenv.py
.github/workflows/plan.pdf
.github/workflows/planPage.pdf
.github/workflows/plan.xml
/.github/workflows/pdfparser.py
/.github/workflows/testing.py
/.github/workflows/plan4AiSR4.pdf
/.github/workflows/plan6AiSR4.pdf
/.github/workflows/plan6AiSR4.json
.github/workflows/__pycache__/localenv.cpython-311.pyc
