* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --background-color: #242424;
    --element-color: #0A66C2;
    --text-color:#E1F5FE;
    --dark-color: #202020;
    color: var(--text-color);
    user-select: none;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header{
    letter-spacing: -3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: var(--dark-color) solid 5px;
    height:60px;
}

header, footer {
    background: var(--element-color);
}

main {
    background: var(--background-color);
    position:relative;
    padding-top: 3em;
}

footer {
    text-align: center;
    font-size:0.9em;
    padding: 0.8em;
    border-bottom: var(--dark-color) solid 5px;
}
.loading {
	background-color: var(--text-color);
	width: 40%;
	height: 40%;
	z-index: 2;
	position: relative;
}
.loading-dots>div {
	width: 3rem;
	height: 3rem;
	background-color: var(--text-color);
	border-radius: 50%;
	display: inline-block;
	animation: 1.5s bounce infinite ease-in-out both;
}
.loading-dots .bounce {
	animation-delay: -0.30s;
}

.loading-dots .bounce2 {
	animation-delay: -0.15s;
}
.fa-calendar-days{
    display: none;
}
#text{
    display: none;
}
#plan{
    pointer-events: none;
}
@keyframes bounce {

	0%,
	80%,
	100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1);
	}
}

.task-grid,.subjects-grid,.faculty-grid{
    padding-top: 1em;
    padding-left:20vw;
    padding-right: 20vw;
    padding-bottom: 6em;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    transition: opacity 150ms ease-in-out;
}
.subjects-grid, .faculty-grid{
    display:none;
    transition: opacity 150ms ease-in-out;
}
.task{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background: var(--element-color);
    height: 210px;
    text-align: center;
    font-size: 1.4em;
    border-radius: .2em;
    transition: 150ms ease-in-out;
    padding: .5em;
    border: var(--dark-color) solid 5px;
}
.task i{
    font-size:4em;
    padding-bottom: .1em
}
.task:hover{
    transform: scale(1.06);
	filter: brightness(0.86);
	cursor: pointer;
}
canvas{
    width: 89vw;
    filter: invert(0.86);
}
.plan-container{
    transition: opacity 150ms ease-in-out;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: auto;
    position: relative;
}
#close-button{
    color: var(--text-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 3.5vw;
    transform: translateX(7vw) scale(1);
    transition:color 100ms ease-in-out , transform 100ms ease-in-out ;
}
#close-button:hover{
    color: #CD201F;
    transform:  translateX(7vw) scale(1.15);
}

.nav-button{
    --padding: 15px;
    background:none;
    border: none;
    font-size:1.4em;
    height:50px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    border-radius: .2em;
    margin: 6px;
    transition: background 100ms ease-in-out;
}
.nav-button:hover{
    background: #24242462;
	cursor: pointer;
}
h1:hover{
    cursor: pointer;
}
.task img{
    width: 7.5em;
    height: 4.7em;
}
@media only screen and (hover: none) and (pointer: coarse){
    .task-grid,.subjects-grid{
        padding-left: 10%;
        padding-right: 10%
    }
    canvas{
        width: 260vw;
        transform:translateX(32%);
    }
    body{
        display: block;
    }
    .plan-container{
        overflow: auto;
        height:100vh;
    }
    #close-button{
        font-size: 10vw;
    }
}
